APP_NAME="Veonis Administration"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://adcms.veonissuisse.ch

FRONTEND_URLS=https://veonissuisse.ch,https://www.veonissuisse.ch

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=daily
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=epipuxan.mysql.db.internal
DB_PORT=3306
DB_DATABASE=HOSTPOINT_DATABASE
DB_USERNAME=HOSTPOINT_DATABASE_USER
DB_PASSWORD=CHANGE_ME

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=adcms.veonissuisse.ch

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

MAIL_MAILER=sendmail
MAIL_FROM_ADDRESS=info@veonissuisse.ch
MAIL_FROM_NAME="Veonis Administration"

ADMIN_NAME="Veonis Administrator"
ADMIN_EMAIL=CHANGE_ME
ADMIN_PASSWORD=CHANGE_ME
